/AnalizadorLexico/nbproject/private/
/AnalizadorLexico/build/
/AnalizadorLexico/dist/
/AnalizadorSintactico/dist/
/AnalizadorSemantico/target/
/AnalizadorSemantico/nbproject/private/
/AnalizadorSemantico/build/
/AnalizadorSemantico/dist/